.mainbox {
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    /* height: 60vh; */
    height: auto;
    margin: auto;
    transform: translate(0%, 10%);
    box-shadow: 0px 1px 30px 1px #284d7a;
    /* background-color: #F7FFFF; */
}

.img1 {
    height: auto;
    width: 30%;
    position: relative;
    left: 10%;
}

.form {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fill{
    width: 100%;
    /* height: 100%; */
    padding: auto;
    display: flex;
    /* border-color: #fefefe; */
    border:solid 1px #9fa5ba;
   
    
}

.logo-input {
    border: 1px solid black;
    background-color: #dde3f8;
    border-color: #dde3f8;
    border-radius: 10px;
    position: relative;
    top: 20%;
    width: 70%;
    margin-bottom: 10px;
    padding: 8px;
    display: flex;
    gap: 1%;
}
.login-reset {
    position: relative;
    top: 30%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    
    
}
.not-registered {
    position: relative;
    top: 40%;
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 2%;
}
.not{
    color: green;
    font-weight: bold;
    /* box-sizing: border-box; */
    text-align: center;
  color: green;
  font-size: 1.3em;
}
.signup{
    padding: 1%;
    color: #fff;
    border-radius: 2px;
    background-color: #0178e0;
    border-color: #2e6da4;
    cursor: pointer;    
}
.signup:hover{
    background-color: #0058a5;
}
.loginbutt{
    padding: 2%;
    margin: 2%;
    background-color: rgb(110, 163, 29);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.loginbutt:hover{
    background-color: rgb(73, 122, 0);
}

.resetpass
{
    padding: 2%;
    margin: 2%;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.resetpass:hover
{
    background-color: rgb(129, 0, 0);
    /* color: rgb(138, 138, 138); */
}


.mailimg,
.lockimg {
    width: 10%;
    height: auto;
}