.mainbox1 {
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 70vh;
    /* height: auto; */
    margin: auto;
    transform: translate(0%, 10%);
    box-shadow: 0px 1px 30px 1px #284d7a;
    background-color: #F7FFFF;
}

.img1 {
    height: auto;
    width: 30%;
    position: relative;
    left: 10%;
}

.form1 {
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1%;
}

.title1 {
    font-size: x-large;
    color: green;
    margin-bottom: 10%;
}

.bar1 {
    display: flex;
    width: 100%;
    gap: 5%;
    height: 8%;
    margin-bottom: 2%;

}

.fill1 {
    border-radius: 2px;
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
}

#options {
    width: 100%;
    background-color: white;
    border: none;
    border: 1px solid black;
}

.intructions1 {
    width: 100%;
    height: auto;
    border: 1px solid black;
    font-size: 14px;
    font-weight: bolder;
    background-color: aliceblue;
    padding: 1%;
    color: #124f93;
}

.registerreturn1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 8%;
    /* height: 10%; */
}

.loginreg1 {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    /* gap: 10%; */
    width: 35%;
    padding: 1%;
}

.register1 {
    background-color: rgb(0, 106, 220);
    cursor: pointer;
}

.loginbu1 {
    /* margin-left: 10%; */
    /* width: 100px; */
    background-color: green;
    cursor: pointer;
}
.register1:hover {
    background-color: rgb(3, 75, 153);
}

.loginbu1:hover {
    background-color: rgb(12, 86, 12);
}

.register1,
.loginbu1 {
    color: #F7FFFF;
    /* width: 25%; */
    height: 100%;
    border: none;
    padding: 2%;
    /* margin: 1%; */
}