.mainboxform {
    border: 3px solid black;
    border-radius: 20px;

    width: 80%;
    /* height: 70vh; */
    height: auto;
    margin-top: -5%;
    margin-inline: auto;
    transform: translate(0%, 10%);
    box-shadow: 0px 1px 30px 1px #284d7a;
    background-color: #F7FFFF;
}

.head {
    /* border: 1px solid black; */
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.regnumber {
    margin-left: 5%;
}

.buttons {
    width: 30%;
    margin-right: 1%;
    padding: 2%;
    /* display: flex; */
    /* justify-content: space-between; */

}

.fillup {
    margin-left: 10px;
    padding: 2%;
    /* width: 100%; */
    background-color: #24af47;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Forgotpassword {
    /* width: 50%; */
    background-color: #3289f4;
    color: white;
    padding: 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card {
    /* height: 33%; */
    height: auto;
    border: 1px solid #d6e9c6;
    /* border-color: ; */
    /* display: grid ; */
    margin: 2%;
    border-radius: 10px;
    background-color: white;
}

.card:hover {
    box-shadow: 0px 1px 10px 1px #284d7a;
    /* border-radius: 20px; */
}

.row {
    display: flex;
    height: 25%;
    justify-content: space-around;
    margin: 1%;
}

.col {
    display: flex;
    justify-content: space-around;
    width: 45%;
    font-family: 'Oswald', sans-serif;
}

.text {
    /* font-weight: bold; */
    display: inline-block;
    font-size: 17px;
    width: 40%;
    /* background-color: white;     */
    padding: 2%;
}

.fillad {
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
    width: 40%;
    display: flex;
  justify-content: center;
  align-items: center;
}

.Address {
    display: flex;
    height: auto;
    justify-content: space-around;
    /* width: 90%; */
}

.correspondance,
.permanent {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.text-area {
    margin: 2%;
}

.addresstype {
    /* padding: 2%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: large;
    font-family: 'Oswald', sans-serif !important;
}

.heading {
    /* width: 100%; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    /* padding: 1%; */

    background-color: #dff0d8;
}

.pp {
    /* height: 100%; */
    font-size: large;
    /* font-weight: bolder; */
    /* border: 1px solid black; */
    padding: 1%;
    color: #3c763d;
    font-family: 'Oswald', sans-serif !important;
}

.box1 {
    display: flex;
    /* border: 4px solid rgb(243, 203, 203); */
    /* width: 20%; */
    justify-content: space-between;
}

.enterdetails {
    /* border: 1px solid rgb(243, 42, 42); */
    width: 75%;
}

.photo {
    width: 20%;
    border: 1px solid black;
}

.boxrow {
    display: flex;
    line-height: 1.42857143;
    width: 100%;
    /* justify-content: space-around; */
}

.boxcol {
    width: 50%;
    padding: 1%;
    display: flex;
    /* display: inline-block;  */
    justify-content: space-around;

}

.boxtext {
    padding: 1%;
    width: 60%;
    font-family: 'Oswald', sans-serif !important;
}

.boxfillad {
    padding: 1%;
    width: 100%;
    border: 1px solid black;
}


.nextpage {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    /* height: 10%; */
    padding: 1%;
    /* top: 1%; */
    bottom: 1%;
    /* left: 45%; */
}

.savebutton {
    width: 10%;
    padding: 1%;
    display: flex;
    color: #F7FFFF;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #3289f4;
}


.form2mainboxform {
    border: 3px solid black;
    border-radius: 20px;
    width: 80%;
    /* height: 70vh; */
    height: auto;
    margin-top: -5%;
    margin-inline: auto;
    transform: translate(0%, 10%);
    box-shadow: 0px 1px 30px 1px #284d7a;
    background-color: #F7FFFF;
}

.form2head {
    /* border: 1px solid black; */
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form2regnumber {
    margin-left: 5%;
}

.form2buttons {
    width: 30%;
    margin-right: 1%;
    padding: 2%;
    /* display: flex; */
    /* justify-content: space-between; */
}

.form2fillup {
    margin-left: 10px;
    padding: 2%;
    /* width: 100%; */
    background-color: #24af47;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form2Forgotpassword {
    /* width: 50%; */
    background-color: #3289f4;
    color: white;
    padding: 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form2card {
    /* height: 33%; */
    height: auto;
    /* border: 3px solid black; */
    /* display: grid ; */
    margin: 2%;
    border-radius: 10px;
    background-color: white;
}

.form2card:hover {
    box-shadow: 0px 1px 10px 1px #284d7a;
    /* border-radius: 20px; */
}

.form2row {
    display: flex;
    height: 25%;
    justify-content: space-around;
    margin: 1%;
}

.form2col {
    display: flex;
    justify-content: space-around;
    width: 45%;
    font-family: 'Oswald', sans-serif;
}

.form2text {
    /* font-weight: bold; */
    display: inline-block;
    font-size: 17px;
    width: 40%;
    /* background-color: white;     */
    padding: 2%;
}

.form2fillad {
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 3px;
    width: 40%;
}

.form2Address {
    display: flex;
    height: auto;
    justify-content: space-around;
    /* width: 90%; */
}

.form2correspondance,
.form2permanent {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form2text-area {
    margin: 2%;
}

.form2addresstype {
    /* padding: 2%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: large;
    font-family: 'Oswald', sans-serif !important;
}


.form2card {
    /* height: 33%; */
    height: auto;
    border: 1px solid #d6e9c6;
    /* border-color: ; */
    /* display: grid ; */
    margin: 2%;
    border-radius: 10px;
    background-color: white;
}

.form2heading {
    /* width: 100%; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    /* border-top: 10px; */
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    /* padding: 1%; */
    background-color: #dff0d8;
}

.form2pp {
    /* height: 100%; */
    font-size: large;
    /* font-weight: bolder; */
    /* border: 1px solid black; */
    padding: 1%;
    color: #3c763d;
    font-family: 'Oswald', sans-serif !important;
}

.form2box1 {
    display: flex;
    /* border: 4px solid rgb(243, 203, 203); */
    /* width: 20%; */
    justify-content: space-between;
}

.form2enterdetails {
    /* border: 1px solid rgb(243, 42, 42); */
    width: 100%;
}

.form2photo {
    width: 20%;
    border: 1px solid black;
}

.form2boxrow {
    display: flex;
    line-height: 1.42857143;
    width: 100%;
    /* justify-content: space-around; */
}

.form2boxcol {
    width: 50%;
    padding: 1%;
    display: flex;
    /* display: inline-block;  */
    justify-content: space-around;
}

.form2boxtext {
    padding: 1%;
    width: 60%;
    font-family: 'Oswald', sans-serif !important;
}
.form2boxtextlast {
    padding: 1%;
    width: 15.5%;
    margin-left: 0.5%;
    font-family: 'Oswald', sans-serif !important;
}

.form2boxfillad {
    padding: 1%;
    width: 100%;
    border: 1px solid black;
}
.form2boxfilladlast{
    padding: 1%;
    width: 60%;
    margin: 1%;
    border: 1px solid black;
}

.form2nextpage {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    /* height: 10%; */
    padding: 1%;
    /* top: 1%; */
    bottom: 1%;
    /* left: 45%; */
}

.form2savebutton {
    width: 10%;
    padding: 1%;
    display: flex;
    color: #F7FFFF;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #3289f4;
}



.TABLE{
    width: 95%;
    /* display: flex; */
    
    margin: auto;
    margin-top: 1%;
    margin-bottom: 20px;
    /* justify-content: center; */

    border: 1px solid #ddd;
    /* height: 50%; */
    border-collapse: collapse;

}

th, td {
    width: 11.7%;
    border: 1px solid #ddd; 
    padding: 1%;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* text-align: center; */
}

.Fillacaddetails{
    width: 100%;
    padding: 1.5% ;
    border: 1px solid #ccc;
  border-radius: 4px;
  height: 31px;
}

.Class{
    background-color: #eee;
  opacity: 1;
  padding: 1.5%;
  padding-right: 1%;
  height: 31px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.addrowbutton{
    width: 25%;
    height: 50%;
    margin: 2%;
    background-color: rgb(241, 4, 4);
    border:1px solid #4a5b3c;
    color: #eee;
    border-radius: 5px;
}