nav{
    /* border: 1px solid black; */
    display: flex;
    height: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1d7888d;
    box-shadow: 0px 1px 30px 1px #888786cf;
}

#hin,#eng{
    font-size: xx-large;
    color: rgb(91, 61, 0);
}